<div>
  <div class="login-form" *ngIf="!userIsLoaded">
    <h2>Login</h2>
    <form [formGroup]="userForm">
      <input type="text" formControlName="name">
      <input type="password" formControlName="password">
      <button (click)="onSubmitted()">Submit</button>
    </form>
    <p *ngIf="showMessage" [class]="userIsLoaded ? 'login-message--success login-message' : 'login-message--error login-message'">{{ userIsLoaded ? successMessage : errorMessage }}</p>
  </div>
  <user [user]="user" [userIsLoaded]="userIsLoaded" (onLoadUsers)="usersLoaded($event)" (onLogout)="logout()"></user>
</div>
