<div>
  <div class="login-form">
    <form>
      <input type="text" [(ngModel)]="userForm.name" [ngModelOptions]="{standalone: true}">
      <input type="password" [(ngModel)]="userForm.password" [ngModelOptions]="{standalone: true}">
      <button (click)="onSubmitted()">Submit</button>
    </form>
    <p *ngIf="showMessage" [class]="userIsLoaded ? 'login-message--success login-message' : 'login-message--error login-message'">{{ userIsLoaded ? successMessage : errorMessage }}</p>
  </div>
  <user [user]="user" [userIsLoaded]="userIsLoaded" (onLoadUsers)="usersLoaded($event)" (onLogout)="logout()"></user>
</div>
