<div>
  <div class="login-form" *ngIf="!userIsLoaded">
    <h2>Login</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmitted()">
      <input type="text" formControlName="name">
      <input type="password" formControlName="password">
      <button type="submit">Submit</button>
    </form>
    <p *ngIf="(userForm.touched && !userForm.valid && showMessage) || (userForm.pristine && showMessage)" [class]="userForm.valid && userIsLoaded ? 'login-message--success login-message' : 'login-message--error login-message'">{{ userForm.valid && userIsLoaded ? successMessage : errorMessage }}</p>
  </div>
  <user [user]="user" [userIsLoaded]="userIsLoaded" (onLoadUsers)="usersLoaded($event)" (onLogout)="logout()"></user>
</div>
