.login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 500px;
}
input {
  width: 100%;
}
.login-message {
  font-size: 11px;
  padding: 10px 16px;
  border-radius: 4px;
  flex-basis: 100%;
}
.login-message--success {
  color: seagreen;
  background-color: lightgreen;
}
.login-message--error {
  color: crimson;
  background-color: lightpink;
}