<header>
  <nav>
    <ul class="header-nav">
      <li class="header-nav-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
      <!-- Can be either with brackets and without slash or without brackets and with slash /-->
      <li class="header-nav-item"><a routerLink="/tasks" routerLinkActive="active">Tasks</a></li>
      <li class="header-nav-item"><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li class="header-nav-item"><a routerLink="/login" routerLinkActive="active">Admin</a></li>
    </ul>
  </nav>
</header>