.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
  background-color: mediumseagreen;
  margin: 0 0 10px;
}

.header-nav-item {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.header-nav-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 10px;
}
.header-nav-item a:hover, .header-nav-item a.active {
  color: khaki;
  background-color: darkolivegreen;
}
