<div *ngIf="userIsLoaded">
  <h2>Users</h2>

  <button (click)="logout()">Logout</button>
  
  <button (click)="toggleTable()">{{ tableIsVisible ? 'Hide' : 'Show'}} Table</button>
  <div>
    <span>Filtrar por: </span>
    <input type="text" [formControl]="searchForm">
  </div>
  
  <form #f="ngForm" name="userForm" (ngSubmit)="addItem()">
    <input type="text" name="name" [(ngModel)]="newUser.name" #name="ngModel">
    <input type="text" name="email" [(ngModel)]="newUser.email" #email="ngModel">
    <button type="submit">Add</button>
  </form>
  <table *ngIf="tableIsVisible">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </thead>
    <tr *ngFor="let user of users | tableFilter:searchForm.value">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button class="button--text" (click)="removeItem(user)">x</button>
      </td>
    </tr>
  </table>
</div>